*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

.barra_superior {
    background-color:#00293F;
    display: flex;
    justify-content: flex-start;
}

#logoBS {
    min-width: 60px;
    max-width: 90px;
    height: auto;
    margin: 0.5%;
    margin-left: 1.5%;
}

nav {
    width: 50%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav a {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid white;
}

#contacto, #nosotros, #paseos {
    flex-basis: 15%;
}

#alta {
    flex-basis: 13%;
}

.banner {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 3%;
}