*{
    margin: 0;
    box-sizing: border-box;
}

.linea_azul {
    color: darkslateblue;
    background-color: darkslateblue;
}

.logo_nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 15%;
    max-width: 100px;
    height: auto;
    padding-top:0.4%;
    padding-bottom: 0.4%;
}

nav {
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    text-wrap: wrap;
}

nav a {
    display:inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

.banner {
    width: 100%;
}

footer {
    background-color: darkslateblue;
    color: white;
    padding: 3%;
}

