*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

.barra_superior {
    background-color:#00293F;
    display: flex;
    justify-content: space-around;
}

/* .barra_busqueda {
    margin: 0.7%;
    margin-right: 1%;
    border-radius: 20px;
    padding-left: 1% ;
    padding-right: 1%;
} */

#logoBS {
    width: 12%;
    min-width: 70px;
    height: auto;
    margin: 0.5%;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav a {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
}

#contacto, #nosotros, #paseos {
    flex-basis: 27%;
}

#alta {
    flex-basis: 19%;
}

.banner {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 3%;
}