main {
    text-align: center;
}

.filetes {
    width: 100%;
    max-width: 900px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tour_card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5%;
    border: 2px solid;
    border-color: #00293F;
    border-radius: 10px;
    max-width: 310px;
}

.tour_card img {
    width: 100%;
    height: 172px;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tour_card h1 {
    text-align: left;
    margin-left: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.tour_card p {
    padding: 2%;
    text-align: left;
    color: black;
}

.precio_botones::before {
    content: " ";
    display: block;
    width: 100%;
    border-bottom: 2px dotted turquoise;
    margin-bottom: 0.5rem;
}

.precio_botones {
    width: 100%;
    text-align: center;
    padding: 2%;
}

.precio {
    font-family: Arial, Helvetica, sans-serif;
}

.precio_botones button {
    margin: 1%;
    padding: 1.5%;
    border-radius: 5px;
}

.info {
    background-color: #00293F;
    color: white;
}

.comprar {
    background-color:#E1AF42
}

.info:hover, .comprar:hover {
    background-color: #08A1CF;
    color:black;
   /*  font-weight: 900; */
}

.contiene_boton_arriba {
    text-align: center;
    margin: 2%;
}

.boton_arriba {
    padding: 0.5%;
}