@font-face {
    font-family: "wide_latin";
    src: url(../fonts/Nexus_Font.TTF);
}

@font-face {
    font-family: "javanese";
    src: url(../fonts/javanese-text.ttf);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner con título y cuadro de búsqueda: */

.banner {
    background: url(../assets/img/background_busqueda.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título y subtítulo: */

.titulo_subtitulo_principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 40%;
    color: white;
    padding: 2%;
}

.titulo_principal {
    font-family: "wide_latin";
    font-size: 3em;
    text-shadow: 2px 2px black;
}

.subtitulo_principal {
    line-height: 110%;
    font-family: "javanese";
    font-size: 2em;
    font-weight: 500;
}

/* Adaptación de título y subtítulo a las pantallas: */

@media (max-width: 600px) {
    .titulo_subtitulo_principal {
            font-size: 13px;
        }
}

@media (max-width: 465px) {
    .titulo_subtitulo_principal {
        font-size: 11px;
    }
}

/* Cuadro de búsqueda: */

.busqueda {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 1%;
    margin: 2%;
    margin-top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_busqueda {
    margin-bottom: 1.5%;
    color: #98B2CF;
    border-bottom: 1px solid white;
}

.buscar_por {
    margin-left: 2%;
}

.buscar_por_fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8em;
}

.buscar_por_fecha label {
    display: block;
    margin: 2%;
    text-align: center;
}

.buscar_por_fecha input {
    height: 30px;
}

.botonera_fecha {
    align-self: center;
    margin-top: 15px;
}

.buscar_por_lugar {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.input_buscar_por_lugar {
    display: block;
    height: 30px;
    width: 60%;
}

#boton_buscar_lugar,
#boton_buscar_fecha {
    margin-left: 3%;
    height: 30px;
    width: 90px;
    background-color: #98B2CF;
    border-radius: 5px;
    align-self: center;
}

/* Adaptación de cuadro de búsquda a las pantallas: */

@media (max-width: 747px) {
    .busqueda {
        width: 70%;
    }
}

@media (max-width: 522px) {
    .busqueda {
        width: 90%;
    }
}

/* Sección tarjetas */

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tour_card {
    display: grid;
    grid-template-rows: 1fr 115px;
    margin: 1.5%;
    max-width: 300px;
    border: 1.5px solid;
    border-color: #00293F;
    border-radius: 10px;
    box-shadow: 0px 5px 5px gray;
}

.card_vinculo {
    grid-row: 1;
    text-decoration: none;
}

.card_img {
    width: 100%;
    height: 172px;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_titulo {
    text-align: left;
    margin-left: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.4rem;
}

.card_detalle {
    padding: 2%;
    text-align: left;
    color: black;
}

.precio_reserva {
    display:flex;
    flex-direction: column;
    margin: 3%;
}

.precio {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px dotted #105276;
}

.reserva {
    display: flex;
    flex-direction: column;
}

.personas_fecha {
    margin: 3%;
    display: flex;
    justify-content: space-around;
}

.reservar {
    height: 30px;
    background-color: #98B2CF;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

/* Parte inferior */

.filete {
    width: 100%;
    max-width: 900px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.boton_arriba {
    width: 120px;
    height: 40px;
    margin: 2%;
    padding: 0.3%;
}