main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tour_card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5%;
    border: 2px solid;
    border-color: #00293F;
    border-radius: 10px;
    max-width: 300px;
}

.card_img {
    width: 100%;
    height: 172px;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_titulo {
    text-align: left;
    margin-left: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.card_detalle {
    padding: 2%;
    text-align: left;
    color: black;
}

.reserva {
    display:grid;
    grid-template: 50% 50% / 50% 50%;
    justify-items: center;
    margin: 2%;
}

.precio {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px dotted #96B1CD ;
}

.pasajeros {
    grid-column: 1;
    grid-row: 2;
    align-content: center;
}

.reservar {
    grid-column: 2;
    grid-row: 2;
    width: 100px;
    height: 30px;
    padding: 3%;
    margin: 4%;
}

.filete {
    width: 100%;
    max-width: 900px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.boton_arriba {
    width: 120px;
    height: 40px;
    margin: 2%;
    padding: 0.5%;
}