@font-face {
    font-family: "Wide_Latin";
    src: url(../fonts/Nexus_Font.TTF);
}

main {
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo_pagina {
    text-align: center;
    padding: 2%;
    font-family: "wide_latin";
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px black;
}

.subtitulo_pagina {
    color: #98B2CF;
    border-bottom: 1px solid white;
}

.nosotros, .contacto, .alta {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 310px;
    align-self: center;
    margin-bottom: 2%;
    padding: 1.5%;
}

/* Específicos para contacto: */

.contacto {
    width: 50%;
}

.texto_contacto {
    margin: 1.5% 0;
}

label {
    display: block;
    margin: 1.5% 0;
}

#cuadrito_comentarios {
    width: 100%;
}

.botonera_contacto {
    margin-top: 3%;
    text-align: center;
}

.boton_contacto {
    height: 30px;
    padding: 0 2%;
    border-radius: 5px;
    background-color: #98B2CF;
}

/* Específicos para nosotros: */

.nosotros {
    width: 95%;
}

.texto_nosotros {
    margin: 2%;
}

.fotos_nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotos_nosotros img {
    width: 300px;
    height: 200px;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid white;
}

/* Específicos para alta */

.alta {
    width: auto;
}

.formulario_ingreso {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.primera_columna, .segunda_columna {
    width: 277.71px;
    display: flex;
    flex-direction: column;
}

.primera_columna {
    padding-right: 3%;
}

.formulario_ingreso textarea, .expandir_input {
    width: 100%;
}

.fecha_hora {
    display: flex;
}

.hora_alta {
    margin-left: 20px;
}

.botonera_alta {
    margin-top: 20px;
    align-self: center;
}

.boton_alta {
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #98B2CF;
}

@media (max-width:580px) {

    .alta {
        width: 300px;
    }

    .primera_columna {
        padding-right: 0;
    }

    .formulario_ingreso {
        justify-content: center;
    }
}